body {
    font-family: "League Spartan";
    margin: 0;
    padding: 0;
    
}

main {
    font-family: 'Montserrat';
    margin-left: 25px;
}


/* CSS for the Header */

nav{                       /*What allows the logo + menu to be aligned */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
}

.menuNav {                                 /*Color + size of the text */
    display: block;
    width: 100px;
    text-align: center;
    padding: 8px;
    margin-bottom: 10px;
    background-color: white;
    color: black;
    text-decoration: none;
    border-radius: 40px;
    transition: all 0.3s ease;
    border-color: white;
}

.menuNav:hover {                                /* Color + size of the text */
    transform: scale(1.1); 

}

.logoArabeH {
    margin-left: 10px;
    width: 20vw;
}

/* CSS for the footer */

footer {
    background-color: black;
    margin-top: 20px;
}

.logoVRL {
    width: 10vw;
    margin-left: 25px;
}



/* CSS for main-index */

.main-index {
    display: flex;
    align-items: center;
}

.main-index .index-text {
    flex: 1; 
}

.main-index .fleximg-index {
    margin-left: 20px; 
}

.kekra-index {
    width: 45vw;
}


.buttonnav{                       /*What allows the logo + menu to be aligned */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    
}

.menuNav2 {                                 /*Color + size of the text */
    display: block;
    width: 100px;
    text-align: center;
    padding: 8px;
    margin-bottom: 10px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 40px;
    transition: all 0.3s ease;
    border-color: white;
}

.menuNav2:hover {                                /* Color + size of the text */
    transform: scale(1.1); 

}

.spotify-index {
    display: flex;
    justify-content: space-evenly;
}


.spotify-test { 
    margin-top: 20px;
}




/* CSS for 2016 suuuiii */

